<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href='/'>首页</a></li>
                <li><a href='#'>文章</a></li>
                <li><a href='#'>项目</a></li>
                <li><a href='#'>联系我</a></li>

            </ul>

        </div>
    </div>
</div>
<div class="jumbotron masthead">
<div class="container">
    <h2>心静致远</h2>
    <h3>This is the best of times, it was the worst of times.</h3>
</div>
</div>
