/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #fff;
  font:normal 14px/24px "STHeiti","Arial","Microsoft Yahei","Hiragino Sans GB","Simsun,sans-self"
}




/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method.*/

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px
}
.container .text-muted {
  margin: 20px 0
}

/*
repeat fixed!important;
filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
-moz-background-size:100% auto;
    background-size:100% auto;
    */
.jumbotron {
    padding: 30px 15px;
    margin-bottom: 30px;
    color:#fff;
    background-color: #fff;
    text-align:center;
    background-image: url(/images/test_bg.jpg);
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% auto;
        background-size:100% auto;
}

.docls{
    background-color: #fff
}
.tag{
    font-size:14px;
    color:#777
}
a {
    color: #000;
    text-decoration:blink
}

a:focus,a:hover {
    color: #23527c;
    text-decoration: blink
}

.post_title{
    text-align: center;
    padding-bottom: 10px;
}
.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.8;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #fff;
}
.menu-button {
	position: fixed;
	bottom: 0;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
}

.menu-wrap {
	position: fixed;
	z-index: 1001;
	width: 300px;
	height: 100%;
	background: #373a47;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
