/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #F5F5F5;
  line-height:13px;
  font:normal 14px/24px "STHeiti","Arial","Microsoft Yahei","Hiragino Sans GB","Simsun,sans-self";
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method.*/
/*
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  background-color: #fff;
}
.container .text-muted {
  margin: 20px 0;
}
*/
vkbd {
    padding: 2px 4px;
    font-size: 90%;
    /*color: #fff;*/
    background-color: #F5F5F5;
    /*border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    */
}

.docls{
    background-color: #fff;
}
