<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
<body>
    {% include nav_menu.html %}
    <!-- Begin page content -->
    <div class="container" style='padding-top:100px;'>
            <a class ="label label-primary"></a>
    </div>
    <br>
    <div class="container docls" style="padding-top:100px;">
        [{{ paginator.posts }}]
        <p style="padding-top:100px;">Project ? Tell me Why ?</p>
    </div>
    <p>

    </div>
    <footer class="footer">
        <div class="container" style="padding-top:20px">
            <p class="text-muted">© 2015 xiashuangxi@hotmail.com</p>
        </div>
    </footer>

</body>
</html>
