<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
<body>
    {% include banner.html %}
    <!-- Begin page content -->
    <div class="container" style='padding-top:100px;'>
            <a class ="label label-primary"></a>
    </div>
    <br>
    <div class="container docls" >
        {{site.categories}}
        {% for post in site.categories %}
            {{post.title}}
        {% endfor %}
        {% for post in site.posts %}
           {{post.title}}
        {% endfor %}

        <p style="padding-top:100px;">Project ? Tell me Why ?</p>
    </div>
    <p>
    {% include copyright.html %}
</body>
</html>
