<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
<body>

    {% include nav_menu.html %}
    <div class="container docls" style='padding-top:50px;'>
        <p class="lead">
            <h1 id="vincent-xia">Vincent xia </h1>

            <p><img src="/images/head.png"></img> </p>

            <p>一个平凡的<strong>“程序员”</strong>。</p>

            <hr>

            <p><strong>联系方式：</strong> <br>
                QQ/微信:609656341 <br>
                E-Mail : xiashuangxi@hotmail.com <br>
                Github : <a href="https://github.com/xiashuangxi">https://github.com/xiashuangxi</a></p>

        </p>

    </div>

    {% include copyright.html %}

</body>
</html>
