<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
<body>

    {% include banner.html %}
    <div class="container" style='padding-top:100px;'>
            <a class ="label label-primary"></a>
    </div>
    <br>
    <div class="container docls" style='padding-top:0px;'>
        <p class="lead">
            <h1 id="vincent-xia">Vincent xia </h1>

            <p><img src="/images/head.png"></img> </p>

            <p>一个平凡的<strong>“程序员”</strong>。</p>

            <hr>

            <p><strong>联系方式：</strong> <br></p>
                <p>QQ/微信:609656341 <br></p>
                    <p>E-Mail : xiashuangxi@hotmail.com <br></p>
                        <p>Github : <a href="https://github.com/xiashuangxi">https://github.com/xiashuangxi</a></p>

        </p>

    </div>

    {% include copyright.html %}

</body>
</html>
