<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
    <body>
        {% include nav_menu.html %}
        <div class="container" style='padding-top:50px;'>
            {% for page in site.posts  | sort: 'date', 'last'  %}
            <div class="container docls">
                <div class="page-header">
                    <h3 name = "{{ category | first }}">{{ page}}</h3>
                </div>

            </div>
            <p>
            {% endfor %}
        </div>
        {% include copyright.html %}
    </body>
</html>
