<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
    <body>
        {% include nav_menu.html %}
        <div class="container" style='padding-top:50px;'>
            {% assign year = stie.TIME | date:'%Y' %}
            {% for page in site.posts %}
                {% assign y = page.date | date:'%Y' %}
                {% if y == year %}
                    <P>{{page.title}}|Y:{{y}}|Year:{{year}}</p>
                {% else %}
                    {% assign year = y %}
                    <p>Year:{{year}}</p>
                {% endif %}

            {% endfor %}
        </div>
        {% include copyright.html %}
    </body>
</html>
