<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
<body>
    <p class="lead">
    {% include nav_menu.html %}

    <h1 id="vincent-xia">Vincent xia </h1>

    <p><i class="head"></i> </p>

    <p>一个平凡的<strong>“程序员”</strong>。</p>

    <hr>

    <p><strong>联系方式：</strong> <br>
        QQ/微信:609656341 <br>
        E-Mail : xiashuangxi@hotmail.com <br>
        Github : <a href="https://github.com/xiashuangxi">https://github.com/xiashuangxi</a></p>
    </p>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">xiashuangxi@hotmail.com</p>
        </div>
    </footer>

</body>
</html>
