<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
<body>
{% include nav_menu.html %}
{% include banner.html %}
<!-- Begin page content -->
{% for post in paginator.posts %}
    <div class="container">
        <div class="page-header">
            <a href='{{ site.baseurl }}{{ post.url }}'>
                <h1>{{ post.title }}</h1>
            </a>{{ post.date| date:"%Y/%m/%d" }}
        </div>
        <p id='page.content' class="lead">{{ post.summary }}</p>
        <p>Use <a href="../sticky-footer-navbar">the sticky footer with a fixed navbar</a> if need be, too.</p>
    </div>
{% endfor %}

<!-- 分页 -->
{% if paginator.total_pages > 1 %}
    <!-- 分页代码 -->
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"上一页</a>
    {% endif %}


{{ paginator.next_page_path }}
{{ prepend: site.baseurl }}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
    {% endif %}
{% endif %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted">xiashuangxi@hotmail.com</p>
        </div>
    </footer>

</body>
</html>
