<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
<body>
{% include banner.html %}
<!-- Begin page content -->
{% for post in paginator.posts %}
    <div class="container docls">
        <div class="page-header" style="border-bottom:0px solid #eee;">
            <a href='{{ site.baseurl }}{{ post.url }}'>
                <h1>{{ post.title }}</h1>
            </a><p style='font-size:14px;color:#777;'>xiashuangxi&nbsp;|&nbsp;{{ post.date| date:"%Y年%m月%d日" }}</p>
        </div>

        <p id='page.content' class="lead" style='font-size:16px;'>{{ post.content |strip_html|truncatewords:20}}</p>
        <hr>
        <p>
            <span class="ds-thread-count badge" data-thread-key="{{pdost.id}}" data-count-type="comments"></span>
            <!-- 多说js加载开始，一个页面只需要加载一次 -->
            <script type="text/javascript">
            var duoshuoQuery = {short_name:"xiashuangxi"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = 'http://static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);

            })();
            </script>
        </p>
    </div>
    <p>
{% endfor %}
<div class="container">
<!-- 分页 -->
{% if paginator.total_pages > 1 %}
    <!-- 分页代码 -->
    {% if paginator.previous_page %}
        <a  class="btn btn-default" href="{{ paginator.previous_page_path }}">上一页</a>
    {% endif %}

    {% if paginator.next_page %}
        <a  class="btn btn-default" href="{{ paginator.next_page_path }}">下一页</a>
    {% endif %}
{% endif %}
</div>
{% include copyright.html %}


</body>
</html>
