<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
<body>
{% include nav_menu.html %}
{% include banner.html %}
<!-- Begin page content -->
{% for post in paginator.posts %}
    <div class="container docls">
        <div class="page-header">
            <a href='{{ site.baseurl }}{{ post.url }}'>
                <h1>{{ post.title }}</h1>
            </a>{{ post.date| date:"%Y/%m/%d" }}
        </div>
        <p id='page.content' class="lead">{{ post.summary }}</p>
        <p>
            
        </p>
    </div>
    <p>
{% endfor %}
<div class="container">
<!-- 分页 -->
{% if paginator.total_pages > 1 %}
    <!-- 分页代码 -->
    {% if paginator.previous_page %}
        <a  class="btn btn-default" href="{{ paginator.previous_page_path }}">上一页</a>
    {% endif %}

    {% if paginator.next_page %}
        <a  class="btn btn-default" href="{{ paginator.next_page_path }}">下一页</a>
    {% endif %}
{% endif %}
</div>
    <footer class="footer">
        <div class="container" style="padding-top:20px">
            <p class="text-muted">© 2015 xiashuangxi@hotmail.com</p>
        </div>
    </footer>

</body>
</html>
