---
layout: head
---
<!-- Begin page content -->
{% for post in site.posts %}
    <div class="container">
        <div class="page-header">
            <a href='{{ site.baseurl }}{{ post.url }}'>
                <h1>{{ post.title }}</h1>
            </a>{{ post.date|date_to_string }}
        </div>
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
        <p>Use <a href="../sticky-footer-navbar">the sticky footer with a fixed navbar</a> if need be, too.</p>
    </div>
{% endfor %}
---
layout: tail
---
