<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
<body>
{% include banner.html %}
<div class="container docls" >

    <div class="page-header">
        <h3 style="text-align:center;">{{ page.title }}</h3>
        <span style='font-size:12px;'>{{page.date| date:"%Y/%m/%d" }}</span>
        <br>
        {% for tag in page.tags %}
        <vkbd>{{ tag }}</vkbd>
        {% endfor %}
    </div>
    <p class="lead" style='font-size:16px;'>{{ content }}</p>
    <p></p>

</div>
<div class="container " >
    <nav>
      <ul class="pager">
        {% if page.previous > 0 %}
            <li class="previous"><a href="{{page.previous.url}}"><span aria-hidden="true">&larr;</span> {{page.previous.title}}</a></li>
        {% endif %}
        {% if page.next > 0 %}
            <li class="next"><a href="{{page.next.url}}">{{page.next.title}} <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
      </ul>
    </nav>
<div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'xiashuangxiblog';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% include copyright.html %}

</body>
</html>
