<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
<body>
{% include nav_menu.html %}

<div class="container masthead">
    
    <div class="page-header">
        <h1>{{ page.title }}</h1>
        {{page.date| date:"%Y/%m/%d" }}
    </div>
    <p class="lead">{{ content }}</p>
    <p>Use <a href="../sticky-footer-navbar">the sticky footer with a fixed navbar</a> if need be, too.</p>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">xiashuangxi@hotmail.com</p>
    </div>
</footer>

</body>
</html>
