<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
    <body>
        {% include banner.html %}
            <div class="container docls">
                <div class="page-header">
                    <h1>标签 : {{ page.tag }}</h1>
                </div>
                {% for post in site.tags[page.tag] %}
                <div class="container" style='margin-left: 50px;' >
                         <p class="lead">
                                 <a href = '{{ post.url }}'>{{ post.title }}</a>
                         </p>
                </div>
                {% endfor %}
            </div>

        </div>
        {% include copyright.html %}
    </body>
</html>
