<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
    <body>
        {% include nav_menu.html %}
        <div class="container" style='padding-top:50px;'>
            {% for category in site.categories %}
            <div class="container docls">
                <div class="page-header">
                    <h3>{{ category | first }}</h3>
                </div>
                {% for post in category.last %}
                    <div class="container" style='margin-left: 50px;background-color:#F5F5F5;margin-bottom: 10px;padding: 10px 10px 10px 10px;'>
                        <p id='page.content' class="lead">
                            
                                <a href = '{{ post.url }}'>{{ post.title }}</a>

                        </p>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% include copyright.html %}
    </body>
</html>
