<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
    <body>
        {% include nav_menu.html %}
        <div class="container" style='padding-top:50px;'>
            <div class="container" style='padding-top:50px;'>
                {% for category in site.categories %}
                    <a class ="label label-primary" href = '#{{ category | first }}'>{{ category | first }}</a>
                {% endfor %}

            </div>
            <br>
            {% for category in site.categories %}
            <div class="container docls">
                <div class="page-header">
                    <h3 name = "{{ category | first }}">{{ category | first }}</h3>
                </div>
                {% for post in category.last %}
                    <div class="container" style='margin-left: 50px;'>
                        <p id='page.content' class="lead">

                                <a href = '{{ post.url }}'>{{ post.title }}</a>

                        </p>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% include copyright.html %}
    </body>
</html>
