<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html %}
    <body>
        {% include banner.html %}
        <div class="container">
            <div class="container docls">
                <div class="page-header">
                    <h1>分类</h1>
                </div>
                <div class="container" >
                     {% for category in site.categories %}
                         <span class="lead categorytag ">
                           <a href="/blog/category/{{ category | first }}/">{{ category | first }}</a> <span class = "badge">{{ category | last | size }}</span>
                        </span>
                    {% endfor %}
                </div>
            </div>

            <div class="container docls">
                <div class="page-header">
                    <h1>标签</h1>
                </div>
                <div class="container" >
                     {% for tag in site.tags %}
                         <span class="lead categorytag">
                            <a href="/blog/tag/{{ tag | first }}/">{{ tag | first }}</a> <span class = "badge">{{ tag | last | size }}</span>
                        </span>
                    {% endfor %}
                </div>
            </div>

        </div>
        {% include copyright.html %}
    </body>
</html>
